<h2 class="bg-info text-center">
  Оглавление
</h2>
<div class = "text-center">
  <a routerLink="/chapter12">Глава 12 <strong>Создание проекта Angular</strong></a><br/>
  <a routerLink="/chapter13">Глава 13 <strong>Встроенные директивы</strong></a><br/>
  <a routerLink="/chapter14">Глава 14 <strong>События и формы СОБЫТИЯ</strong></a><br/>
  <a routerLink="/chapter14form">Глава 14 <strong>События и формы ФОРМЫ</strong></a><br/>
  <a routerLink="/chapter14form-model">Глава 14 <strong>Использование форм на базе моделей</strong></a><br/>
  <a routerLink="/chapter14form-gen-model-and-limit-validator">Глава 14 <strong>Генерирование элементов по модели</strong> и <strong>Нестандартные правила проверки данных</strong></a> <br/>

  <a routerLink="/stripe">Stripe</a><br/>
</div>
