<div class="m-3 navbar navbar-light bg-info">
  <a class="navbar-brand">STORE Admin</a>
</div>
<div class="row m-3">
  <div class="col-3">
    <button class="btn btn-outline-success btn-block" routerLink="/">
      Home
    </button>

    <button class="btn btn-outline-info btn-block"
            routerLink="/admin/main/categories"
            routerLinkActive="active">
      Categories
    </button>

    <button class="btn btn-outline-info btn-block"
            routerLink="/admin/main/products"
            routerLinkActive="active">
      Products
    </button>
    <button class="btn btn-outline-info btn-block"
            routerLink="/admin/main/orders"
            routerLinkActive="active">Basic
      Orders
    </button>

    <button class="btn btn-outline-danger btn-block"  (click)="logout()">
      Logout {{authService.auth?.name}}
    </button>
<!--    <a  class="nav-link" href="/logout" (click)="logout()">Logout</a>-->

  </div>
  <div class="col-9">
    <router-outlet></router-outlet>
  </div>


</div>
