<!--<app-error-message></app-error-message>-->
<app-adm-error-message></app-adm-error-message>

<button class="btn btn-outline-info btn-block " (click)="admModelService.refreshCategories()">
  Refresh
</button>
<button class="btn btn-outline-info btn-block " routerLink="/admin/main/categories/insert">
  Create New Category
</button>

<hr/>
<input class="form-control"  [(ngModel)] = "strFind" placeholder="Search"/>
<hr/>

<div class="row">
  <div class="col-1"><strong>ID</strong></div>
  <div class="col-4"><strong>Name</strong></div>
  <div class="col-4"><strong>Description</strong></div>
  <div class="col-1"><strong>Status</strong></div>
  <div class="col-2"><strong>Action</strong></div>
</div>


<div class="row " *ngFor="let c of find()" style="padding: 3px;"
     [class.bg-info]="currentId == c.id" (mouseover)="currentId=c.id">
  <div class="col-1">{{c.id}}</div>
  <div class="col-4">{{c.name}}</div>
  <div class="col-4">{{c.description}}</div>
<!--  <div class="col-1">{{c.status | categoryStatus}}</div>-->
  <div class="col-1">{{c.status}}</div>
  <div class="col-2">
    <button class="btn btn-sm btn-success"
            [routerLink]="['/admin/main/categories/edit', c.id]">
      Edit
    </button>
    <button class="btn btn-sm btn-danger" (click)="deleteCategory(c.id)" style="margin-left: 3px;">
      &times;
    </button>
  </div>

</div>

<hr/>

  <div class="form-inline float-sm-left" *ngIf="!(this.strFind?.length > 0)">
    <select class="form-control" [value]="categoriesPerPage"
            (change)="changePageSize($event.target.value)">
      <option value=5>5 per Page</option>
      <option value=10>10 per Page</option>
      <option value=15>15 per Page</option>
      <option value=25>25 per Page</option>
      <option value=50>50 per Page</option>
      <option value=100>100 per Page</option>
    </select>
  </div>

  <div class="btn-group float-sm-right" *ngIf="!(this.strFind?.length > 0)">
    <button *ngFor="let page of buttonsPage" (click)="changePage(page)"
            class="btn btn-outline-info" [class.active]="page == selectedPage">
      {{page}}
    </button>
  </div>


