<div class="container text-center">
  <form class="form-signin" method="post" action="/login">
    <h4 class="form-signin-heading">custom form</h4>
    <h2 class="form-signin-heading">Please sign in</h2>
<!--    <div class="alert alert-danger" role="alert">Bad credentials</div>-->

    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>

    <p>
      <label for="username" class="sr-only">Username</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" class="form-control" placeholder="Username" required autofocus>
    </p>
    <p>
      <label for="password" class="sr-only">Password</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"  placeholder="Password" required>
    </p>
    <button class="btn btn-lg btn-primary btn-block" (click)="handleLogin()">Sign in</button>
  </form>
</div>

