<app-adm-error-message></app-adm-error-message>

<div class="form-group">
  <label>Select category</label>
  <select class="form-control" [(ngModel)]="admModelService.currentCategoryId"
          (change)="changeCategory($event.target.value)">
    <option [value]="item.id" *ngFor="let item of admModelService.getCategories()">{{item.name}}</option>
  </select>
</div>


<!--<input class="form-control" [(ngModel)]="strFind" placeholder="Search"/>-->

<button class="btn btn-outline-info btn-block"
        [routerLink]="['/admin/main/products/insert', admModelService.currentCategoryId]"
        *ngIf="admModelService.currentCategoryId > 0">
  Create New Product
</button>

<hr/>

<div class="input-group mb-3">
  <input class="form-control" [value]="strSearch"  (keyup)="search($event.target.value)" placeholder="Search"/>
  <div class="input-group-append">
    <button class="btn btn-sm btn-danger" style="margin-left: 3px;" (click)="cleanStrSearch()">
      &times;
    </button>
  </div>
</div>
<hr/>


<div class="row">
  <div class="col-1"><strong>ID</strong></div>
  <div class="col-4"><strong>Name</strong></div>
  <div class="col-4"><strong>Description</strong></div>
  <div class="col-1"><strong>Price</strong></div>
  <div class="col-2"><strong>Remain</strong></div>
</div>


<div class="row" *ngFor="let p of admModelService.getProducts()" style="padding: 3px;"
     [class.bg-info]="currentId == p.id" (mouseover)="currentId=p.id">
  <div class="col-1">{{p.id}}</div>
  <div class="col-4">{{p.name}}</div>
  <div class="col-4">{{p.description}}</div>
  <!--  <div class="col-1">{{c.status | categoryStatus}}</div>-->
  <div class="col-1">{{p.price | currency:"USD"}}</div>
  <div class="col-2">
    <button class="btn btn-sm btn-success"
            [routerLink]="['/admin/main/products/edit', p.id]">
      Edit
    </button>
    <button class="btn btn-sm btn-danger" style="margin-left: 3px;" (click)="deleteProduct(p.id)">
      &times;
    </button>
  </div>
</div>


<hr/>

<div class="form-group" *ngIf="this.admModelService.getProducts().length > 0">
  <div class="form-inline float-sm-left">
    <select class="form-control" [value]="productsPerPage"
            (change)="changePageSize($event.target.value)">
      <option value=5>5 per Page</option>
      <option value=10>10 per Page</option>
      <option value=25>25 per Page</option>
      <option value=50>50 per Page</option>
      <option value=75>75 per Page</option>
      <option value=100>100 per Page</option>
      <option value=200>200 per Page</option>
      <option value=300>300 per Page</option>
      <option value=500>500 per Page</option>
      <option value=1000>1000 per Page</option>
      <option value=5000>5000 per Page</option>
    </select>
  </div>

  <div class="btn-group float-sm-right">
    <button *ngFor="let page of buttonsPage" (click)="changePage(page)"
            class="btn btn-outline-info" [class.active]="page == selectedPage">
      {{page}}
    </button>
  </div>
</div>
