<div style="position: fixed;
     left: 50%;
     top: 50%;
     pointer-events: auto;
     box-sizing: border-box;
     z-index: 1000;
     display: block;
     max-width: 100%;
     max-height: 100%;" *ngIf="errorMessageService.showError">
  <div class="alert alert-danger" style="position: relative; left: -50%; border: red 1px solid;">
    <button type="button" style="padding-left: 7px;" class="close" data-dismiss="alert" (click)="errorMessageService.showError=false">
      &times;
    </button>
    <h3 style="border-bottom: red 1px dotted;">Error!</h3>
    Text error message:
    <strong>{{errorMessageService.textError}}</strong>
  </div>
</div>
