<style>
  input.ng-dirty.ng-invalid {
    border: 2px solid #ff0000
  }

  input.ng-dirty.ng-valid {
    border: 2px solid #6bc502
  }

  .invalid {
    border: 1px solid #ff0000
  }

</style>

<!--https://medium.com/@stasonmars/%D1%81%D0%B5%D1%82%D0%BA%D0%B0-%D0%B2-bootstrap-4-%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%BE%D0%B5-%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE-bb20ce8a14ad-->
<!--https://getbootstrap.com/docs/4.3/components/forms/-->

<app-adm-error-message></app-adm-error-message>

<div class="p-3">


  <div class="p-3 container">

    <form novalidate [formGroup]="form" (ngSubmit)="submitForm(form)">

      <div class="bg-info p-3" style="border-radius: 0.25rem;">Model Data: {{jsonCategory}}</div>
      <div class="bg-danger p-3 m-3"
           *ngIf="formSubmitted && form.invalid">
        There are problems with the form
        <ul>
          <li *ngFor="let error of form.getFormValidationMessages(form)">
            {{error}}
          </li>
        </ul>
      </div>


      <div class="form-group" *ngFor="let control of form.productControls">
        <label>{{control.label}}</label>
        <input class="form-control"
               [(ngModel)]="category[control.modelProperty]"
               formControlName="{{control.modelProperty}}" (keyup)="admModelService.resetErrorByName(control.modelProperty)"/>
        <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || control.dirty) && control.invalid">
          <li *ngFor="let error of control.getValidationMessages()">
            {{error}}
          </li>
        </ul>
        <ul class="text-danger list-unstyled"
            *ngIf="admModelService.jsonError?.status == 400">
          <li *ngFor="let error of admModelService.getErrorByName(control.modelProperty)">
            {{error.defaultMessage}}
          </li>
        </ul>
      </div>

<!--      <div class="form-group">-->
<!--        <label>Name</label>-->
<!--        <input class="form-control" [(ngModel)]="category.name" formControlName="name"/>-->
<!--        <ul class="text-danger list-unstyled"-->
<!--            *ngIf="(formSubmitted || form.controls['name'].dirty) && form.controls['name'].invalid">-->
<!--          <li *ngFor="let error of form.controls['name'].getValidationMessages()">-->
<!--            {{error}}-->
<!--          </li>-->
<!--        </ul>-->
<!--        <ul class="text-danger list-unstyled"-->
<!--            *ngIf="admModelService.jsonError?.status == 400">-->
<!--          <li *ngFor="let error of admModelService.getErrorByName('name')">-->
<!--            {{error.defaultMessage}}-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label>Description</label>-->
<!--        <input class="form-control" [(ngModel)]="category.description" formControlName="description"/>-->
<!--        <ul class="text-danger list-unstyled"-->
<!--            *ngIf="(formSubmitted || form.controls['description'].dirty) && form.controls['description'].invalid">-->
<!--          <li *ngFor="let error of form.controls['description'].getValidationMessages()">-->
<!--            {{error}}-->
<!--          </li>-->
<!--        </ul>-->
<!--        <ul class="text-danger list-unstyled"-->
<!--            *ngIf="admModelService.jsonError?.status == 400">-->
<!--          <li *ngFor="let error of admModelService.getErrorByName('description')">-->
<!--            {{error.defaultMessage}}-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->

      <!--      <div class="form-group">-->
      <!--        <label>Status</label>-->
      <!--        <input class="form-control" [(ngModel)]="category.status" formControlName="status"/>-->
      <!--        <ul class="text-danger list-unstyled"-->
      <!--            *ngIf="(formSubmitted || form.controls['status'].dirty) && form.controls['status'].invalid">-->
      <!--          <li *ngFor="let error of form.controls['status'].getValidationMessages()">-->
      <!--            {{error}}-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </div>-->

      <div class="form-group">
        <label>Status</label>
        <select class="form-control" [(ngModel)]="category.status" formControlName="status"
                (change)="category.status = $event.target.value" >
<!--          <option value="0">{{status | categoryStatus}}</option>-->
<!--          <option value="1">{{status | categoryStatus}}</option>-->
<!--          <option value="2">{{status | categoryStatus}}</option>-->
            <option [value]="item" *ngFor="let item of keysStatus()">{{item}}</option>
        </select>
        <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || form.controls['status'].dirty) && form.controls['status'].invalid">
          <li *ngFor="let error of form.controls['status'].getValidationMessages()">
            {{error}}
          </li>
        </ul>
      </div>



      <button class="btn btn-outline-info" type="submit"
              [disabled]="formSubmitted && form.invalid"
              [class.btn-secondary]="formSubmitted && form.invalid">
        Save
      </button>
      <button class="btn btn-outline-info" type="button" routerLink="/admin/main/categories" style="margin-left: 7px">
        Cancel
      </button>

    </form>

  </div>


</div>
