<!--<div class="navbar navbar-light bg-light">-->
<!--  <a class="navbar-brand">SPORTS STORE</a>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-sm">
      <!--      <button class="btn btn-block btn-outline-success">-->
      <!--        Home-->
      <!--      </button>-->

      <!--      <button class="btn btn-block btn-outline-success" routerLink="/admin" *ngIf="authService.hasRole('ROLE_ADMIN')">-->
      <button class="btn btn-block btn-outline-info" routerLink="/admin">
        Admin
      </button>

      <button class="btn btn-block btn-outline-info " routerLink="/login" *ngIf="authService.hasRole('ROLE_ANONYMOUS')">
        Login
      </button>
      <button class="btn btn-outline-danger btn-block" (click)="logout()"
              *ngIf="!authService.hasRole('ROLE_ANONYMOUS')">
        Logout {{authService.auth?.name}}
      </button>

      <hr/>
      <button class="btn btn-block btn-outline-info"
              *ngFor="let cat of categories" (click)="changeCategoryId(cat.id)"
              [class.active]="cat.id == modelService.currentCategoryId">
        {{cat.name}}
      </button>


      <div class="btn-group float-sm-right" style="margin: 7px">
        <button *ngFor="let page of pageNumbers" (click)="changePage(page)"
                class="btn btn-outline-info" [class.active]="page == modelService.selectedCategoryPage">
          {{page}}
        </button>
      </div>


    </div>
    <div class="col-sm-9">


      <hr/>

      <div class="input-group mb-3">
        <input class="form-control" [value]="strSearch"  (keyup)="search($event.target.value)" placeholder="Search"/>
        <div class="input-group-append">
          <button class="btn btn-sm btn-danger" style="margin-left: 3px;" (click)="cleanStrSearch()">
            &times;
          </button>
        </div>
      </div>
      <hr/>


      <div class="card" style="margin-bottom: 7px" *ngFor="let product of products">
        <div class="card-header">
          <h4>
            {{product.name}}
            <span class="float-sm-right">{{ product.price | currency:"USD":true:"2.2-2" }}</span>
          </h4>
        </div>
        <div class="card-body">
          <p class="card-text">{{product.description}}</p>
          <a href="#" class="btn btn-info">See</a>
          <a href="#" (click)="printCardProduct(product.id)" class="btn btn-info" style="margin-left: 7px;" >Print</a>
        </div>
        <div>
          {{product.testField}}
        </div>


      </div>


      <div class="form-group" *ngIf="modelService.getProducts().length > 0">
        <div class="form-inline float-sm-left">
          <select class="form-control" [value]="modelService.productPerPage"
                  (change)="changePageSize($event.target.value)">
            <option value=3>3 per Page</option>
            <option value=5>5 per Page</option>
            <option value=10>10 per Page</option>
            <option value=25>25 per Page</option>
            <option value=50>50 per Page</option>
            <option value=75>75 per Page</option>
            <option value=100>100 per Page</option>
          </select>
        </div>

            <div class="btn-group float-sm-right">
              <button *ngFor="let page of buttonsProductPage" (click)="changeProductPage(page)"
                      class="btn btn-outline-info" [class.active]="page == modelService.selectedProductPage">
                {{page}}
              </button>
            </div>
      </div>


    </div>
  </div>





</div>


